<!DOCTYPE html>
<html>

<head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Kalyan Vedurumudi. It uses data from mapbox.com
        </p>
        <img class="potrait" alt='' src='/img/node.svg'/>
        <h6>{{ content }}</h6>
    </div>
    {{>footer}}
</body>
</html>